{{ if .IsTranslated }}
<div class="relative dib lang-switcher">
  <!-- Use a class for JS, not an ID -->
  <button class="js-lang-toggle bg-transparent border-0 pa0 pointer">
    {{ with .Site.Language.Params.flag }}
      <span class="f3">{{ . }}</span>
    {{ end }}
  </button>

  <!-- Use a class for JS, and keep 'dn' to hide by default -->
  <ul class="js-lang-menu absolute mt2 bg-black pa2 white shadow-5 dn z-999">
    {{ range .Translations }}
      <li class="mb1">
        <a href="{{ .RelPermalink }}" class="white no-underline flex items-center">
          {{ with index (where site.Languages "Lang" .Lang) 0 }}
            {{ with .Params.flag }}
              <span class="f3 mr2">{{ . }}</span>
            {{ end }}
            <span class="f6">{{ .LanguageName }}</span>
          {{ end }}
        </a>
      </li>
    {{ end }}
  </ul>
</div>
{{ end }}
